<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Endpoint=sb://mobilrecharge2022.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=vs1sgvAHmiEdbWdFqK5kPmd45S72uamCaeZ53KLb60I="/>
    <add key="queueName" value="recharge"/>
  </appSettings>
</configuration>